{% load static %}
            <!-- about_section -->
            <section id="about">
                <div class="container border text-white mt-2 px-lg-5">
                  <div class="d-flex">
                    <h3><span class="htag">#</span>about</h3>
                    <hr class="flex-grow-1 htag border-3 mx-3">
                    <hr class="border-0 mx-3"style="width: 30%;">
                  </div>
                  <div class="d-md-flex d-sm-block pe-3">
                    <div class="p-2 flex-fill">
                      <p class="text-secondary">Hello, i'm Vamsi krishna!</p>
                      <p class="text-secondary">An IT graduate from Anil Neerukonda Institute of Technology and Sciences with a passion for full-stack development and cybersecurity. With a GPA of 7.5 and certifications in Python, SQL, JavaScript, and problem-solving from HackerRank, I’ve developed strong skills in backend development using Django and MySQL, as well as frontend design with Bootstrap, HTML, CSS, and JavaScript.</p>
                      <p class="text-secondary">My hands-on experience includes working with Linux tools like nMap, Burp Suite, and Metasploit Framework, enhancing my problem-solving abilities and technical expertise. With a foundation built on both academic knowledge and practical exposure, I’m eager to explore exciting opportunities in internships, tech projects, and full-time roles in the industry.</p>
                      <a href="#" class="btn btn-outline-primary text-white rounded-0 ">CV &rarr;</a>
                    </div>
                    <div class="p-2 flex-fill d-md-flex text-center align-items-center ">
                      <img src="{%  static "./img/ahero.png" %}" alt="" class="img border-bottom border-primary mb-3" style="width: 290px; height: 300px;">
                  
                    </div>
                  </div>
                </div>
              </section>
              <!-- skills_section -->
              <div class="container border text-white mt-3 px-lg-5">
                <div class="d-flex">
                  <h3 class=""><span class="htag">#</span>skills</h3>
                  <hr class="flex-grow-1 htag border-3 mx-3">
                  <hr class="border-0 mx-3"style="width: 30%;">
                </div>
                <div class="d-md-flex align-items-start flex-sm-fill  border">
                    <table class="table border border-secondary transparent-table m-2">
                      <tr>
                        <td class="text-white">Languages</td>
                      </tr>
                      <tr>
                        <td class="text-secondary">Python, Java, JavaScript</td>
                      </tr>
                    </table>
        
                    <table class="table border border-secondary transparent-table m-2">
                      <tr>
                        <td class="text-white">Other</td>
                      </tr>
                      <tr>
                        <td class="text-secondary">HTML, CSS, Linux Commands</td>
                      </tr>
                    </table>
                  
                    <table class="table border border-secondary transparent-table m-2">
                      <tr>
                        <td class="text-white">Database</td>
                      </tr>
                      <tr>
                        <td class="text-secondary">Sql, MySql</td>
                      </tr>
                    </table>
                    <table class="table border border-secondary transparent-table m-2">
                      <tr>
                        <td class="text-white">Frameworks</td>
                      </tr>
                      <tr>
                        <td class="text-secondary">Bootstrap, Django</td>
                      </tr>
                    </table>
                    <table class="table border border-secondary transparent-table m-2">
                      <tr>
                        <td class="text-white">Tools</td>
                      </tr>
                      <tr>
                        <td class="text-secondary">VScode, Git, GitHub </td>
                      </tr>
                    </table>
                  </div>          
              </div>
               <!-- publications_section -->
              <div class="container border mt-3 mb-3 px-lg-5">
                <div class="d-flex text-white h4">
                  <span class="htag">#</span>publications
                  <hr class="flex-grow-1 htag border-3 mx-3">
                  <hr class="border-0 mx-3"style="width: 30%;">
                </div>
        
                <div class="text-white">
                  <h5>"<span class="htag">Certificate Generation and Validation Using Blockchain</span>," TIJER International Research Journal, Vol. 11, Issue 4, April 2024.</h4>
                    DOI: <a target="_blank" href="https://tijer.org/tijer/viewpaperforall.php?paper=TIJER2404172" class="link text-decoration-none">Click here to view the publication</a>
                    <p class="text-secondary">In this paper, we proposed a blockchain-based system for generating and validating digital certificates. The approach ensures enhanced security, transparency, and immutability, addressing common issues like forgery and unauthorized alterations. This solution provides an efficient and reliable method for certificate issuance and verification in various sectors, including education and professional certifications.</p>
                    <p class="text-secoundry">Details:</p>
                    <ul class="text-secondary">
                     <li>Authors: Gudla Sourav Srinivas, Nagidi Vamsi Krishna, D. Preetam, P. Vivek</li> 
                     <li>Published in: TIJER – International Research Journal (ISSN: 2349-9249)</li>
                     <li>Impact Factor: 8.57 (Calculated by Google Scholar and Semantic Scholar)</li>
                     <li>License: Creative Commons 3.0</li>
                     <li>Registration ID: TIJER_151734</li>
                     <li>Paper ID: TIJER2404172</li>
                    </ul>
                    <p>Documents:</p>
                    <a target="_blank" href="https://tijer.org/tijer/certificatemanager.php?a_rid=151734" class="btn btn-outline-primary rounded-0 text-white mb-3">Certificate</a>
                </div>
              </div>
              <!-- certificats_section -->
              <div class="container border mt-2 px-lg-5">
                <div class="d-flex text-white">
                  <span class="htag h4">#</span><h4>certifications and training</h4>
                  <hr class="flex-grow-1 htag border-3 mx-3">
                  <hr class="border-0 mx-3"style="width: 10%;">
                </div>
                <ul class="text-white">
                  <li class="">May-Sep 2023 – Earned the TalentNext Wipro Java Full Stack Certification</li>
                  <a href="#" class="btn-link text-decoration-none">View Certificate (PDF)</a>
                  <li>Apr 2022-Jan 2023 – Achieved HackerRank Certifications in: </li>
                  <ul class="text-secondary">
                    <li>Python – <a href="#" class="btn-link text-decoration-none">View Certificate</a></li>
                    <li>SQL – <a href="#" class="btn-link text-decoration-none">View Certificate</a></li>
                    <li>JavaScript – <a href="#" class="btn-link text-decoration-none">View Certificate</a></li>
                    <li>Problem Solving (Basic) – <a href="#" class="btn-link text-decoration-none">View Certificate</a></li>
                  </ul>
                  <li>Jul-Dec 2020 – Completed Industrial Training in Diploma C and Java at CDST Computer Education, scoring 79%</li>
                  <a href="#" class="btn-link text-decoration-none">View Certificate (PDF)</a>
                </ul>
              </div>
              
              <div class="container border mt-3 mb-5 px-lg-5" style="height: 650px;" > 
                <div class="d-flex text-white h4">
                  <span class="htag ">#</span>contact-me
                  <hr class="flex-grow-1 htag border-3 mx-3">
                  <hr class="border-0 mx-3"style="width: 10%;">
                </div>
                <br>
                <p class="text-secondary border w-75 h-50 d-flex align-items-center p-2">I’m interested in freelance, job, and internship opportunities. However, if you have other requests or questions, don’t hesitate to reach out!</p>
                <div class="d-flex align-items-center mt-4 ">
                  <p class="border border-secondary text-white p-2 h-50 d-flex flex-column ">Message me here <br> <span class="text-secondary"><img  src="{%  static "./img/icons8-email-24.png" %}"  alt="" class="img" style="width: 25px; height: 25px;"> VamsiKrishna.nagidi@gmail.com</span>
                   <span class="text-secondary"><img   src="{% static "./img/icons8-linkedin-26.png" %}" alt="" class="img" style="width: 22px; height: 22px;"> VamsiKrishna.nagidi@gmail.com</span>
                  </p>
                </div>
              </div>
            </section>