{% load static %}

    <!-- project_section -->
    <section id="projects">
        <div class="container border my-3">
          <div class="d-flex justify-content-between mx-lg-5 ">
            <div class="h3 text-white"><span class="htag">#</span>projects</div>
            <hr class="flex-grow-1 htag border-3 mx-3">
            <hr class="border-0 mx-3"style="width: 30%;">
            <a href="#" class="text-white text-decoration-none mt-1 ">View all &rarr;</a>
          </div>
          
          
            <div class="d-sm-inline d-md-flex mx-lg-5 ">
              <div class="card me-2 border border-secondary rounded-0 text-white bg-transparent mt-3">
                <img src="{%  static "./img/c1.jpg" %}" class="card-img-top rounded-0" alt="card_img_not_found">
                
                <ul class="list-group list-group-flush bg-transparent">
                  <li class="list-group-item text-secondary p-2 bg-transparent">An item</li>
                </ul>
                
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                  <p class="text-secondary">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-outline-primary rounded-0 text-white">Github &rarr;</a>
                </div>
              </div>

              <div class="card me-2 border border-secondary rounded-0 text-white bg-transparent mt-3">
                <img src="{%  static "./img/c1.jpg" %}" class="card-img-top rounded-0" alt="card_img_not_found">
                
                <ul class="list-group list-group-flush bg-transparent">
                  <li class="list-group-item text-secondary p-2 bg-transparent">An item</li>
                </ul>
                
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                  <p class="text-secondary">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-outline-primary rounded-0 text-white">Github &rarr;</a>
                </div>
              </div>

              <div class="card me-2 border border-secondary rounded-0 text-white bg-transparent mt-3">
                <img src="{%  static "./img/c1.jpg" %}" class="card-img-top rounded-0" alt="card_img_not_found">
                
                <ul class="list-group list-group-flush bg-transparent">
                  <li class="list-group-item text-secondary p-2 bg-transparent">An item</li>
                </ul>
                
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                  <p class="text-secondary">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-outline-primary rounded-0 text-white">Github &rarr;</a>
                </div>
              </div>
            </div>
        </div>
      </section>
